<!-- Grid row -->
<div class="sample">
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="number" class="form-control" [(ngModel)]="rating" name="rating">
        <label for="inputRatingMD">Rating 1-5</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" placeholder="Date" [(ngModel)]="reviewDate" name="reviewDate">
        <label for="inputReviewDateMD">Date</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="md-form">
    <textarea mdbInput type="text" class="md-textarea form-control" rows="3" length="255" mdbCharCounter [(ngModel)]="review"  name="review"   ></textarea>
    <label for="input_text">Leave a Review</label>
  </div>
  <button mdbBtn gradient="purple" rounded="true" class="white-text mb-4" type="button" mdbWavesEffect (click)="create()">Submit Review</button>

</div>
<!-- Grid column -->

  