<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	
	<!--  This file will allow us to configure spring beans -->
	
	<!-- Scanning our application for  beans -->
	<context:component-scan base-package="com.titans"></context:component-scan>
	<!-- <bean id = "cards" class="com.revature.beans.House" scope="prototype">
		<property name="name" value="House of Cards"/>
		<property name="wall" ref="constructorWall"/>
		<property name="numWalls" value="4"/>
	</bean>
	<bean id="wall" class="com.revature.beans.WallImpl">
		<property name="material" value="cards"></property>
	</bean>
	<bean id="superWall" class="com.revature.beans.SuperWall">
		<property name="material" value="cards"></property>
	</bean>
	<bean id ="constructorWall" class="com.revature.beans.SuperWall">
		<constructor-arg name="material" value="cards"></constructor-arg>
	</bean> -->
</beans>