<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="hibernate.connection.username">frugal</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.pool_size">35</property>
		
	    <mapping class="com.revature.beans.Customer"></mapping>
		<mapping class="com.revature.beans.Menu"></mapping>
		<mapping class="com.revature.beans.MenuItem"></mapping>
		<mapping class="com.revature.beans.Restaurant"></mapping>
		<mapping class="com.revature.beans.Review"></mapping>
		<mapping class="com.revature.beans.Tag"></mapping>

    </session-factory>
</hibernate-configuration>