<!-- Jumbotron -->


<div class="jumbotron p-0" *ngFor="let item of slides; let i = index">
    
 
    
  <!-- Card image -->
  <div *ngFor="let card of item; let cardIndex = index" >

    <div class="view overlay rounded-top waves-light d-flex justify-content-center" mdbWavesEffect> 
       
        
        <img src="{{card.imageLink}}"  alt="centered image" width="300" height="300" >      
      
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

   

    <!-- Card content -->
    <div class="card-body text-center mb-3">
      <!-- Title -->
      <h3 class="card-title h3 my-4">
        <i *ngIf="favorite; else notFaved" class="fas fa-star"></i>
        <ng-template #notFaved><i class="far fa-star"></i></ng-template>
        <strong>{{card.name}}</strong></h3>
      <!-- Text -->
      <p class="card-text py-2">{{card.phone}} - {{card.city}} </p>
      <a href= "{{card.websiteUrl}}" > <p class="card-text py-2"> Website</p> </a>


      <!-- Button -->
      <div>   <a mdbBtn gradient="purple" rounded="true" class="white-text mb-4" type="button" mdbWavesEffect (click)="test.toggle()">Menu</a>
        <div  mdbCollapse #test="bs-collapse">
          <!-- <p *ngFor="let item of card.menuItem; let i =index" class="card-text py-2">  {{card.menuItem[i].itemName}} {{card.menuItem[i].itemPrice}} </p> -->
          <table mdbTable class="z-depth-1">
              <thead>
              <tr>
                
                <th [mdbTableSort]="card.menuItem" orderBy="card.menuItem.itemPrice"> Price <mdb-icon fas icon="sort"></mdb-icon></th>
                <th [mdbTableSort]="card.menuItem" sortBy="card.menuItem.itemName">Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of card.menuItem; let i = index">
                <td scope="row">${{card.menuItem[i].itemPrice}}</td>
                <td>{{card.menuItem[i].itemName}}</td>

              </tr>
              </tbody>
            </table>
        </div> 
      </div>

      <div >   <a mdbBtn gradient="purple" rounded="true" class="white-text mb-4" type="button" mdbWavesEffect (click)="test1.toggle()">Review!</a>
        <div mdbCollapse #test1="bs-collapse">

            <app-review></app-review>


            <table mdbTable class="z-depth-1">
                <thead>
                <tr>
                  <th [mdbTableSort]="card.review" sortBy="card.review.reviewDate">Date <mdb-icon fas icon="sort"></mdb-icon></th>
                  <th [mdbTableSort]="card.review" sortBy="card.review.review">Review</th>
                  <th [mdbTableSort]="card.review" sortBy="card.review.rating">Rating <mdb-icon fas icon="star"></mdb-icon></th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of card.review; let i = index">
                  <td scope="row">{{card.review[i].reviewDate}}</td>
                  <td>{{card.review[i].review}}</td>
                  <td>{{card.review[i].rating}}</td>
                </tr>
                </tbody>
              </table>
          </div> 
      </div>

    </div>
  </div>
</div>

<!-- Jumbotron -->