<!-- Jumbotron -->
<div class="jumbotron p-0" *ngFor="let item of slides; let i = index">

  <!-- Card image -->
  <div *ngFor="let card of item; let cardIndex = index" >

    <div class="view overlay rounded-top waves-light d-flex justify-content-center" mdbWavesEffect>


        <img src="{{card.imageLink}}" class="img-fluid" alt="centered image" >      
      
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

   

    <!-- Card content -->
    <div class="card-body text-center mb-3">

      <!-- Title -->
      <h3 class="card-title h3 my-4"><strong>{{card.name}}</strong></h3>
      <!-- Text -->
      <p class="card-text py-2">{{card.phone}} - {{card.city}} </p>
      <a href= "{{card.websiteUrl}}" > <p class="card-text py-2"> Website!</p> </a>


      <!-- Button -->
      <div>   <a mdbBtn gradient="purple" rounded="true" class="white-text mb-4" type="button" mdbWavesEffect (click)="test.toggle()">Menu</a>
    
        
        <div mdbCollapse #test="bs-collapse">
          <p>{{card.menu}}</p>
        </div> 
    </div>

    </div>
  </div>
</div>
<!-- Jumbotron -->