<!-- Extended material form grid -->
<form>
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" placeholder="First Name" [(ngModel)]="firstName" name="first">
        <label for="inputFirstName4MD">First Name</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" placeholder="Last Name" [(ngModel)]="lastName" name="last">
        <label for="inputLastName4MD">Password</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" placeholder="Username" [(ngModel)]="username" name="user">
        <label for="inputUsernameMD">Username</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="password" class="form-control" placeholder="password"[(ngModel)]="password" name="last">
        <label for="inputPassword2MD">Password</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" placeholder="Phone" [(ngModel)]="phone" name="phone">
        <label for="inputCityMD">Phone</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" placeholder="Email" [(ngModel)]="email" name="email">
        <label for="inputEmailMD">Email</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
  <button type="submit" class="btn btn-primary btn-md" mdbWavesEffect (click)="create()">Submit</button>


</form>
<!-- Extended material form grid -->